@use 'variables';
@use 'mixins';

.input{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 57px;
    margin: 15px;
    background-color: variables.$Light-grayish-blue;
    border: 4px;
    border-radius: 16px;
    &__minus{
        height: 100%;
        width: 25px;
        margin-left: 10px;
        padding: 24px 5px;
        &:hover{
            cursor: pointer;
        }
    }
    &__number{
        border: none;
        text-align: center;
        background-color: variables.$Light-grayish-blue;
        width: 100%;
        font-size: 1.2em;
        font-weight: 700;
        font-family: variables.$Font;
        outline: none;
    }
    &__plus{
        height: 100%;
        width: 25px;
        margin-right: 10px;
        padding: 19px 3px;
        &:hover{
            cursor: pointer;
        }
    }
}